*{
    margin:0px;
    padding:0px;
    text-align:center;
    font-family: 'Lora', serif;
}

.section1{
    background-color:rgb(151, 150, 150);
    min-height:100vh;
    max-width:900px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

h1{
    position:absolute;
    top:5px;
    font-size:40px;
}

img{
    width:250px;
    height:350px;
}



.section2{
    background-color:#777;
    min-height:100vh;
    max-width:900px;
    margin:auto;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}

#photo{
    padding-top:100px;
    padding-bottom:20px;
}

h2{
    font-size:40px;
    top:5px;
    padding-bottom:30px;
}

input{
    display:inline-block;
    outline:none; /*removing border */
}

input[type=button]{
    background-color:rgb(28, 133, 28);
    font-size:20px;
    padding:10px;
    border: solid black 2px;
    cursor:pointer;
    margin:8px;
}

input[type=button]:hover{
    background-color:white;
}



.section3{
    margin:auto;
    background-color:#888;
    min-height:100vh;
    max-width:900px;
   /* display:flex;
   align-items:center;
   justify-content: center;
   flex-wrap:wrap; */
}

.section3 img, .section4 img{
    padding:30px;
    cursor:pointer;
}

.photo-section{
    /* position:relative; */
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}

/* #photoOne{

} */

.maximaze{
    width:500px;
    height:750px;
    /* position:relative;
    margin:auto; */
}



.section4{
    margin:auto;
    background-color:rgb(163, 163, 163);
    min-height:100vh;
    max-width:900px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

#lightBoxBg{
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.94;
    background-color:black;
    height:100%;
    width:100%;
    display:none;
}

#lightBox{
    position:fixed;
    top:5px;
    display:none;
}

#info{
    color:white;
    margin-top:5px;
    font-size:17px;
}

#lightBoxImg{
    width:400px;
    height:600px;
    display:none;
}



.section5{
    min-height:100vh;
    max-width:900px;
    margin:auto;
    background-color:#333;
}

.section5 img{
    width:100px;
    height:150px;
    margin:10px;
    cursor:pointer;
}

#max{
    width:300px;
    height:450px;
    border: solid 2px white;
}



.section6{
    min-height:100vh;
    max-width:900px;
    margin:auto;
    background-color:rgb(92, 80, 80);
}

.container6{
    border:white solid 3px;
    background: white;
    margin:auto;
    max-width:320px;
}

/* .section6 img{
    width:100px;
    height: 150px;
} */

.main-img img{
    width:320px;
    height: 500px;
}

.imgs img{
    width:75px;
    height: 120px;
    /* margin:0px;
    padding:0px; */
}

.imgs{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:5px;
}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}

.fade-in{
    opacity:0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}