*{
    margin:0px;
    padding:0px;
    text-align:center;
    font-family: 'Lora', serif;
}

.section1{
    background-color:rgb(151, 150, 150);
    min-height:100vh;
    max-width:900px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

h1{
    position:absolute;
    top:5px;
    font-size:40px;
}

img{
    width:250px;
    height:350px;
}

.section2{
    background-color:#777;
    min-height:100vh;
    max-width:900px;
    margin:auto;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}

#photo{
    padding-top:100px;
    padding-bottom:20px;
}

h2{
    font-size:40px;
    top:5px;
    padding-bottom:30px;
}

input{
    display:inline-block;
    outline:none; /*removing border*/
}

input[type=button]{
    background-color:rgb(28, 133, 28);
    font-size:20px;
    padding:10px;
    border: solid black 2px;
    cursor:pointer;
    margin:8px;
}

input[type=button]:hover{
    background-color:white;
}

.section3{
    margin:auto;
    background-color:#888;
    min-height:100vh;
    max-width:900px;
   /* display:flex;
   align-items:center;
   justify-content: center;
   flex-wrap:wrap; */
}

a{
    padding:30px;
}

.photo-section{
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
   justify-content: center;
}